@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lexend+Mega:100,200,300,regular,500,600,700,800,900);
@import "../fonts/fontello-0d0ecbe2/css/fontello.css";


/* подключение_нулевых стилей */
@import url("../fonts/Gotham-Bold.otf");

/* Шрифты */
@font-face {
	font-family: 'Gotham-Bold'; 
	src: local('Gotham-Bold'),
		url(../fonts/Gotham-Bold.otf); 
}
@font-face {
	font-family: 'Proximanova-regular'; 
	src: local('Proximanova-regular'),
		url(../fonts/proximanova-regular.otf); 
}
$maxWidth:900;
@mixin adaptiv-font($pcSize, $mobSize){
    $addSize:$pcSize - $mobSize;
    $addMobSize:$addSize + $addSize * 0.7;
    @media (max-width:47.9375em) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 280px) / #{$maxWidth}));

    }
    @media (min-width:47.9375em) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));

    }
    
}
i{
    display: block;
    color: #7f7f7f;
font-size: 1.2rem;

}
.items__website a{
    display: inline-block;
    cursor: pointer;
    margin:0 7px;
}
.items__website a::before{

}
////Georgia


/* Шрифты_конец */
//

/* Шаблоны */
body {
    height          : 100%;
    background-color: #333;
    min-width       : 280px;
    font-family     : "Helvetica Neue", Helvetica, sans-serif;
}
body._lock{
    overflow: hidden;
}
html {
    font-size: 16px;
}



////usuallys
.container {
    margin   : 0 auto;
    max-width: 900px;
}

.wrapper {
    min-height: 100%;
}
//////////////////////////////////////////////////header
.menu__list li {
    position: relative;
}

.menu__list>li a {
    display: inline-block;
}

.header {
    position: fixed;
    z-index: 9;
    top     : 0;
    left    : 0;
    width   : 100%;
    padding  : 0 25px;


    &::before {
        content         : "";
        position        : absolute;
        top             : 0;
        background-color: aqua;
        left            : 0;
        width           : 100%;
        height          : 100%;
        z-index         : 10;

    }
}

.header__container {
    max-width: 1440px;
    margin   : 0 auto;

}

.header__body {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 80px;
}

.header__logo {
    flex    : 0 0 60px;
    height  : 60px;
    position: relative;
    z-index : 50;
}

.header__logo img {
    max-height   : 100%;
    width        : 100%;
    border-radius: 50%;
}

.header__burger {
    display   : none;
    transition: all 0.4s;
    position: relative;
    z-index: 50;
width: 35px;
height: 25px;
}

.header__burger::before,.header__burger span,.header__burger::after{
position: absolute;
width: 100%;
height: 2.5px;
transition: inherit;
background-color: aliceblue;
}
.header__burger::before,
.header__burger::after{
 content: "";   
}
.header__burger::before{
    top: 0;
    left: 0;
    transform: translate(0,0) rotate(0deg);
}

.header__burger span{
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(1);
}
.header__burger::after{
    bottom: 0;
    left: 0;
    transform: translate(0,0) rotate(0deg);
}

.header__burger._active{
    &::before{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
    }
    & span{
        transform: translate(-50%,-50%) scale(0);

    }
    &::after{
bottom: 50%;
left: 50%;
        transform: translate(-50%,50%) rotate(-45deg);

    }
}


.header__menu {}

.menu {}

//////1//////
.menu__list {
    display : flex;
    position: relative;
    z-index : 30;
}

.menu__list>li {
    margin-left: 45px;
}

.menu__link {
    color         : black;
    font-weight   : 700;
    font-size     : 1rem;
    text-transform: uppercase;
}

.menu__link._active {
    margin-right: 20px;
}

//////1//////



.sub-menu__list {
    display    : none;
    position   : absolute;
    top        : 15px;
    left       : 0;
    padding-top: 15px;
    min-width  : 240px;

}

.sub-sub-menu__list {
    display    : none;
    position   : absolute;
    top        : 0px;
    left       : 100%;
    padding-top: 0px;
    min-width  : 240px;
}

.sub-menu__list>li {
    background-color: aquamarine;
    padding         : 15px;

}



.sub-sub-menu__list>li {
    background-color: rgb(45, 155, 199);
    padding         : 15px;

}

.sub-menu__list._open,
.sub-sub-menu__list._open {
    display: block;
}



.sub-menu__link {
    color         : black;
    font-weight   : 700;
    font-size     : 1rem;
    text-transform: uppercase;
}

.sub-sub-menu__link {
    color         : rgb(255, 255, 255);
    font-weight   : 700;
    font-size     : 1rem;
    text-transform: uppercase;
}


.arrow {
    cursor      : pointer;
    width       : 0;
    height      : 0;
    position    : absolute;
    right       : 0;
    border-top  : 10px solid black;
    border-left : 7px solid transparent;
    border-right: 7px solid transparent;
    transform   : rotate(0deg);
    transition  : all 0.3s;
    display     : none;
    z-index     : 30;

}

body._touch .arrow {
    display: block;
}

.arrow._active {
    transform: rotate(90deg);

}

.menu__arrow {
    top: 3px;

}

.sub-menu__arrow {
    top: 19px;
    right: 5px;
}
//////////////////////////////////////////////////header////////////////////////////
.page{
   
}
.team-block {
    padding  : 2% 25px;

    padding-top:calc(49/16*1rem); /* 49/900 */
    padding-bottom: calc(80/16*1rem); /* 49/900 */
    background-color: #f3f3f3;
}
.team-block__container {
}
.team-block__body {
}
.team-block__title {
    font-family: "Gotham-Bold", "Helvetica Neue", Helvetica, sans-serif;
text-transform: uppercase;
text-align: center;
font-size: 1.875rem;
position: relative;
display: block;
z-index:3;
padding-bottom:  calc(22/30*1em);
margin-bottom: calc(31/30*1em);
&::before{
    content: "";
    z-index:3;

    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    background-color: #303030;
    width: 20.444444%; /* 184/900 */
    transform: translateX(-50%);
}
}
.team-block__text {
    color: #5a5a5a;
    font-size: 1rem;
    line-height: 150%; /* 24/16 */
    text-align: center;
    font-family: "Proximanova-regular", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 6.45%; /* 58/900 */
}
.team-block__items {
}
.items {
    display: flex;
margin:  -10px;
}
.items__item {
    flex: 1 1 25%;
padding:  10px;
}
.items__body{
    text-align: center;
    background-color: #fff;
padding-top: 9.047619%; /* 19/210 */
padding-bottom: 10.47619%; /* 22/210 */

}
.items__picture {
margin-bottom: 5.714286%; /* 12/210 */
}
.items__picture a{
    margin: 0 auto;
    display: block;
    width: 40.47619%; /* 85/210 */
    height:40.47619%; /* 85/210 */
    border-radius: 50%;
    overflow: hidden;
}
.items__picture a img{

    display: block;
    width: 100%;
    height: 100%;
}

.items__title {
    font-family: "Gotham-Bold", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #303030;
    margin-bottom:7.142857%; /* 15/210 */
    font-weight: 700;


}
.items__subtitle {
    font-size: calc(12/16*1rem);
    font-family: "Georgia", "Helvetica Neue", Helvetica, sans-serif; 
font-style: italic;
text-transform: capitalize;
margin-bottom: 11.428571%; /* 24/210 */

}
.items__website {
}

@media (min-width:768px) {
    body._mouse .menu__list>li:hover .sub-menu__list {
        display: block;
    }

    body._mouse .sub-menu__list>li:hover .sub-sub-menu__list {
        display: block;
    }
    main{
        padding-top: 80px;
    }
}

@media (max-width:767px) {
    
    .header {
        padding  : 0 15px;
    
    }
    main{
        padding-top: 60px;
    }
    .header {
        &::before {
            content         : "";
            position        : absolute;
            top             : 0;
            background-color: aqua;
            left            : 0;
            width           : 100%;
            height          : 100%;
            z-index         : 20;

        }
    }

    .header__body {
        height: 60px;
    }

    .header__logo {
        flex  : 0 0 50px;
        height: 50px;
    }

    .header__menu {
        transition      : all 0.4s;
        padding-top     : 65px;
        position        : fixed;
        width           : 100%;
        height          : 100%;
        top             : -100%;
        left            : 0;
        background-color: rgba(250, 250, 250, 0.933);
        z-index         : 10;
    }
    .header__menu._active{
        top             : 0;
        left            : 0;   
    }
.menu__list{
    display         : block;

}
    .header__burger {
        display: block;

    }

    .menu__list li {
        margin-left: 0;
        padding:0px 0;

    }
    .sub-menu__list li {
        padding         : 0px;
    
    }
    .sub-menu__list,
    .sub-sub-menu__list {
        position: relative;
        left    : 0px;
        top     : 0px;

    }

    
    .sub-menu__list{
    
    padding: 0;}
    .sub-sub-menu__list{
        padding: 0;
    }

    .menu__list li a {
        padding:  15px;
    }

    .arrow{
        right: 25px;
        top: 19px;
    }

}

@media (min-width:375px) {
    .items{
flex-wrap: wrap;
    }
}
@media(min-width:375px) and (max-width:768px) {
    .items {
    }
    .items__item {
        flex: 1 1 50%;
    }  
    .team-block {
  
    }
}
@media (max-width:992px) {
    .team-block__title {
        margin-bottom: calc(12/16*1em);
    }
    .team-block {
        padding-left: 15px;
    padding-right: 15px;
      
    padding-top:calc(24/16*1rem); /* 49/900 */
    padding-bottom: calc(40/16*1rem); /* 49/900 */
    }
}
@media(max-width:374px) {
    .items {
        display: block;
    }
    .items__item {
        flex: 1 1 100%;
    }  
}

@media (max-width:576px) {
    .items__subtitle{   
    }

    .team-block {
       
    padding-bottom: calc(24/16*1rem); /* 49/900 */
    }
}


.slider .slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slider .slick-track{
    display: flex;
    align-items: flex-start;
}


.slider .slick-arrow{
position: absolute;
top: 50%;
font-size: 0;
width: 40px;
height: 100px;
transform: translateY(-50%);
}
/* Стрелка влево */
.slider .slick-arrow.slick-prev{
    left: 20px;
    z-index: 1;

    background: url("../../img/icon/left.png") 0 50%/ 100%  no-repeat;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next{
    right: 20px;
    z-index: 1;

    background: url("../../img/icon/right.png") 0 50%/ 100%  no-repeat;

}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
    opacity: 0.3;
}
@media (max-width:36em) {
   .slider .slick-arrow{
      
        width: 25px;
        height: 25px;
        z-index: 10;
        transform: translateY(-50%);
        }
  .slider .slick-arrow.slick-prev{
        left: 0px;
    }
    /* Стрелка вправо */
   .slider .slick-arrow.slick-next{
        right: 0px;

    }  
}

.slider {
padding: 0 0px;
position: relative;
}
.slider__item {
    text-align: center;
    height: 20%;
    max-height: 600px;
}
.slider__item img {
    width: 100%;
    position: relative;
    left: 0%;
    object-position: center;
    object-fit: cover;
    max-height: 600px;
    
}


/////2/////////////sliderDig

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.sliderDig .slick-slider.slick-dotted{
}
/* Ограничивающая оболочка */
.sliderDig .slick-list {
    overflow: hidden;

}
/* Лента слайдов */
.sliderDig .slick-track{
display: flex;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{

}
/* Слайд по центру */
/* Слайд */
.sliderDig .slick-slide{
}
.sliderDig .slick-slide.slick-center{
}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.sliderDig .slick-arrow{
    width: 30px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0px;
    z-index: 1;
}
/* Стрелка влево */
.sliderDig .slick-arrow.slick-prev{
    left: -30px;
    background: url("../../img/icon/left.png") 0 50%/100% no-repeat;
}
/* Стрелка вправо */
.sliderDig .slick-arrow.slick-next{
    right: -30px;
    background: url("../../img/icon/right.png") 0 50%/100% no-repeat;

}
/* Стрелка не активная */
.sliderDig .slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

///////2/////////


.dignities-block{
    padding: 20px 0;
}

.sliderDig  {
    margin: 0 -10px;
    position: relative;
}
.sliderDig__item {
    padding: 0 10px;
}
.item__body {
    background-color: #f3f3f3;
    border-radius: 0px 15px 0 0;

}
.item__picture{
    max-width: 100%;
    margin: 0 auto;

}
.item__picture .picture{
position: relative;
padding-bottom: 60%; /* 120/200 */
}
.item__picture .picture img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.item__title {
    @include adaptiv-font(27,22);
    text-align: center;
    font-weight: 700;
    color: aqua;
    
    margin: 0.4545em 0 0.363636em;
}
.item__text {
    color: aqua;
    @include adaptiv-font(19,14);
    text-align: center;
    line-height: 130%;
    padding: 0 10px 0.5555555em;
    font-weight: 500;

}

@media (max-width:992px) {
    .sliderDig .slick-arrow.slick-prev{
        left: -15px;
    }
    .sliderDig .slick-arrow.slick-next{
        right: -15px;
    
    }
    .sliderDig .slick-arrow{
        width: 25px;
        height: 50px;
    }
    .sliderDig  {
        margin: 0 15px;
    }   
}
@media (max-width:576px) {
    .sliderDig .slick-arrow.slick-prev{
        left: -10px;
    }
    .sliderDig .slick-arrow.slick-next{
        right: -10px;
    
    }
    .sliderDig .slick-arrow{
        width: 20px;
    }
    .sliderDig  {
        margin: 0 10px;
    }   
}



