@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lexend+Mega:100,200,300,regular,500,600,700,800,900);
/* подключение_нулевых стилей */

/* Шрифты */

/* Шрифты_конец */


///* Шаблоны *///

$maxWidth:1170;
@mixin adaptiv-font($pcSize, $mobSize){
    $addSize:$pcSize - $mobSize;
    $addMobSize:$addSize + $addSize * 0.7;
    @media (max-width:47.9375em) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 280px) / #{$maxWidth}));

    }
    @media (min-width:47.9375em) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));

    }
    
}
//@include adaptiv-font(44, 12);///

/* Шаблоны */
body {
    height          : 100%;
    background-color: #333;
    min-width       : 280px;
    font-family: "Lexend Mega", "Helvetica Neue", Helvetica, sans-serif;
}

html {
    font-size: 20px;
}
////usuallys
.container {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1440px;
}
.wrapper {
    padding: 25px 5px;
    min-height: 100%;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
    margin-bottom: 20px;
}
/* Лента слайдов */
.slick-track{}
/* Слайд */
.slick-slide{
    transition: all 1s ease 0s;
    transform: scale(0.9);
    opacity: 0.4;
}
@media (max-width:769px) {
    .slick-slide{opacity: 1;}
    
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{
    opacity: 1;
    transform: scale(1);

}
/* Клонированный слайд */
.slick-slide.slick-cloned{
   
}
/* Стрелка */
.slick-arrow{
    position: absolute;
    top: 50%;
    height: 150px;
    font-size: 0;
    width: 50px;
    transform: translateY(-50%);
    opacity: 1;

}
/* Стрелка влево */
.slick-arrow.slick-prev{
    background: url("../../img/icon/left.png") center/100% no-repeat;
    left: 0;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right: 0;
    background: url("../../img/icon/right.png") center/100% no-repeat;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
    opacity: 0.4;
}
/* Точки (булиты) */


/* Активная точка */
/* Элемент точки */
.slick-dots li button{}


.slider {
    position: relative;
    padding: 0px 54px;
}
.slider .slick-track{
    display: flex;
align-items: flex-start;

}

.slider__item {
text-align: center;


}
.slider .slick-dots{
    display: flex;
justify-content: center;
 

}
.slick-dots li:not(:last-child){
    margin-right: 20px;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        height: 1px;
        width: 175%;
        top: 50%;
        left: 110%;
        background-color: white;
    } 
}.slick-dots li{
    display: flex;
}
.slick-dots li button{
font-size: 0;
width: 10px;
height: 10px;
background-color: azure;
border-radius: 50%;
}
.slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid violet;
}
img{
 max-width: 250px;
 max-height: 250px;
  object-fit: cover;
  object-position: center;
   
}
 @media (max-width:480px) {
    img{
        max-width: 150px;
        max-height: 150px;}
    .slick-arrow{
        position: absolute;
        top: 50%;
        height: 100px;
        font-size: 0;
        width: 40px;
        transform: translateY(-50%);
        opacity: 1;
    
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev{
        background: url("../../img/icon/left.png") center/100% no-repeat;
        left: 0;
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next{
        right: 0;
        background: url("../../img/icon/right.png") center/100% no-repeat;
    }
    
} 